<ion-menu [content]="nav">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button *ngIf="isLoggedIn" ion-item (click)="openPage(rootPage)">
                <ion-icon name="book" item-left></ion-icon>Recipe Book
            </button>
            <button *ngIf="!isLoggedIn" ion-item (click)="openPage(signInPage)">
                <ion-icon name="log-in" item-left></ion-icon>Sign In
            </button>
            <button *ngIf="isLoggedIn" ion-item (click)="signOut()">
                <ion-icon name="log-out" item-left></ion-icon>Sign Out
            </button>
            <button *ngIf="!isLoggedIn" ion-item (click)="openPage(signUpPage)">
                <ion-icon name="add" item-left></ion-icon>Sign Up
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav></ion-nav>